@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "メール認証完了";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<a id="resend-confirmation" asp-page="./Login">ログインに戻る</a>
