.navbar {
    background-color: #e6ffd6;
    display: flex;
    justify-content: flex-start; /* 左寄せ */
    align-items: flex-start; /* 上寄せ */
    padding: 10px; /* 必要に応じてパディングを調整 */
}

.img-fluid {
    width: 30vh; /* 画像の幅を小さく設定 */
    height: auto; /* アスペクト比を維持 */
}

.system-name {
    display: block;
    font-size: 18px; /* 必要に応じてフォントサイズを調整 */
}

.system-name-en {
    display: block;
    font-size: 24px; /* 必要に応じてフォントサイズを調整 */
    font-weight: bold; /* 必要に応じてフォントの太さを調整 */
    margin-top: 5px; /* 必要に応じて上部のマージンを調整 */
}

.container {
    max-width: 400px;
    margin: 50px auto;
}

.navbar .btn-outline-danger {
    color: white;
    border-color: white;
}

    .navbar .btn-outline-danger:hover {
        background-color: #dc3545;
        color: white;
    }
.fc-timegrid-slot {
    background-color: white;
}

/*
    @media (max-width: 768px) {
    /* スマホ表示時のレイアウト調整 */
/*.navbar-nav {
    flex-direction: row; /* メニューアイテムを横並び 
    justify-content: space-between; /* ボタン間にスペース
} */
    /* #calendar {
    width: 100%; /* カレンダーが画面にフィットするように 
    margin: 0 auto;
    }/*

/*.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* ボタン間のスペース 
     width: 100%;
    }

   /* .navbar-content {
    flex-wrap: wrap; /* スマホ画面ではアイテムを折り返し
    } */



