body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #e6ffd6;
    display: flex;
    justify-content: flex-start; /* 左寄せ */
    align-items: flex-start; /* 上寄せ */
    padding: 10px; /* 必要に応じてパディングを調整 */
}

.img-fluid {
    width: 30vh; /* 画像の幅を小さく設定 */
    height: auto; /* アスペクト比を維持 */
}

.system-name {
    display: block;
    font-size: 18px; /* 必要に応じてフォントサイズを調整 */
}

.system-name-en {
    display: block;
    font-size: 24px; /* 必要に応じてフォントサイズを調整 */
    font-weight: bold; /* 必要に応じてフォントの太さを調整 */
    margin-top: 5px; /* 必要に応じて上部のマージンを調整 */
}

.container {
    max-width: 400px;
    margin: 50px auto;
}

.login-form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .login-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }

.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

    .register-link a {
        color: #000;
        text-decoration: none;
    }
