
/* 全体のスタイル */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ナビゲーションバー */
.navbar {
    background-color: #e6ffd6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}



.img-fluid {
    width: 30vh; /* 画像の幅を小さく設定 */
    height: auto; /* アスペクト比を維持 */
}

/* コンテナ */
.container {
    max-width: 400px;
    margin: 50px auto;
}

/* 確認メール再送信フォーム */
.confirmation-email-form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    /* タイトル */
    .confirmation-email-form h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    .confirmation-email-form p {
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
    }


 

