/* 全体のスタイル */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ナビゲーションバー */
.navbar {
    background-color: #e6ffd6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

/*ステータスメッセージCSHTMLで×ボタンが表示されるように
    コーディングされているから非表示にしました*/
.btn-close {
    display: none;
}




.img-fluid {
    width: 30vh; /* 画像の幅を小さく設定 */
    height: auto; /* アスペクト比を維持 */
}

/* コンテナ */
.container {
    max-width: 650px;
    margin: 50px auto;
}


/* フォーム全体のスタイル */
.password-form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.alert-success{
    display:none;
}



@media (max-width: 650px) {
    .container {
        max-width: 400px;
    }

    /*認証が完了したときに文字が緑色になる所を無視する*/
    .alert-success {
        display: none;
    }
    /*ステータスメッセージCSHTMLで×ボタンが表示されるように
    コーディングされているから非表示にしました*/
    .btn-close {
        display: none;
    }


}