@page
@model OIC_FK31.Pages.AdminAddModel
@{
}
<h2>メールアドレス：Admin@example.com</h2>
<h2>パスワード　　：Admin1234!</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
    <button type="submit" class="btn btn-dark w-100">管理者アカウント作成</button>
</form>
