@page
@model OIC_FK31.Pages.FacilityEditModel
@{
}

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Facility.FacilityName" class="control-label"></label>
                <input asp-for="Facility.FacilityName" class="form-control" />
                <span asp-validation-for="Facility.FacilityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility.FacilityAddress" class="control-label"></label>
                <input asp-for="Facility.FacilityAddress" class="form-control" />
                <span asp-validation-for="Facility.FacilityAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility.FacilityPhone" class="control-label"></label>
                <input asp-for="Facility.FacilityPhone" class="form-control" />
                <span asp-validation-for="Facility.FacilityPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility.OpeningTime" class="control-label"></label>
                <input asp-for="Facility.OpeningTime" class="form-control" />
                <span asp-validation-for="Facility.OpeningTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility.ClosingTime" class="control-label"></label>
                <input asp-for="Facility.ClosingTime" class="form-control" />
                <span asp-validation-for="Facility.ClosingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility.FacilityPostCode" class="control-label"></label>
                <input asp-for="Facility.FacilityPostCode" class="form-control" />
                <span asp-validation-for="Facility.FacilityPostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility.FacilityphotoPath" class="control-label"></label>
                <input asp-for="Facility.FacilityphotoPath" class="form-control" />
                <span asp-validation-for="Facility.FacilityphotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./FacilityIndex">Back to List</a>
</div>